/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    background-color: #0b1d2a;
}

/*.gain {*/
/*    width: 35px;*/
/*}*/

/*tr {*/
/*    margin: 0 auto;*/
/*}*/

/*.getModal {*/
/*    position: absolute;*/
/*    transition: 0.4s linear;*/
/*    transform: translateY(90px) translateX(-80px) rotate(-90deg);*/
/*}*/

/*.getModal:hover {*/
/*    transform: translateY(90px) translateX(-52px) rotate(-90deg);*/
/*}*/

/*.btn-success {*/
/*    border: none;*/
/*    background: #0b1d2a;*/
/*}*/

/*.btn-success:hover {*/
/*    background: #173e5b;*/
/*}*/

a {
    text-decoration: none !important;
}

.card-header {

    text-align: center;
}

.card-body {
color: #0b1d2a;
    background: #ffe8a1;
}

a:hover {
    color: #fd7e14;
}

/*a:focus {*/
/*    color: #495057 !important;*/
/*}*/

/*#walkingMan {*/
/*    background-image: url('https://i.gifer.com/786g.gif');*/
/*    background-size: auto;*/
/*    background-position: 50px 0;*/
/*    height: 300px;*/
/*}*/

/*.filters-button-group li {*/
/*    margin-top: 30px;*/
/*    border-radius: 15px;*/
/*    padding: 10px;*/
/*    font-size: 20px;*/
/*}*/

/*input, button {*/
/*    box-shadow: none !important;*/
/*}*/

label {
    font-weight: 600;
    color: #34ce57;
}

input, textarea {
    background-color: #ffeeba !important;
    color: #c3e6cb;

}

/*.filters-button-group li:nth-child(1):active {*/
/*    background-image: linear-gradient(#f5c6cb 50%, #c3e6cb 50%);*/
/*}*/

/*.filters-button-group li:nth-child(3):active {*/
/*    background-color: #f5c6cb !important;*/
/*}*/

/*.filters-button-group li:nth-child(2):active {*/
/*    background-color: #c3e6cb !important;*/
/*}*/
/*!*.active{*!*/
/*!*    background: red;*!*/
/*!*}*!*/